<div class="ConsultarDatosUsuario">
            <i class="fas fa-user"></i>

    <div>
        <h2>Perfil de Usuario</h2>
        <div class="datos">
            <p>Nombre: {{this.nombre}}</p>
            <p>Apellido Paterno: {{this.apellidoP}}</p>
            <p>Apellido Materno: {{this.apellidoM}}</p>
            <p>Celular: {{this.celular}}</p>
            <p>Correo: {{this.correo}}</p>
            <p>DNI: {{this.dni}}</p>
        </div>

        <div>
            <div></div>
            <p>Usuario: {{this.usuario}}</p>
        </div>
    </div>

</div>